name: Clang Format

on:
  push:
    branches: [ master ]
    paths:
      - '.github/**'
      - 'cubool/**'
      - '.clang-format'
  pull_request:
    branches: [ master ]

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        path:
          - 'cubool'
    steps:
      - uses: actions/checkout@v4

      - name: Run clang-format style check
        uses: jidicula/clang-format-action@v4.15.0
        with:
          clang-format-version: '20'
          check-path: ${{ matrix.path }}
